# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset: https://www.kaggle.com/datasets/udaymalviya/bank-loan-data/data

Import the necessary libraries and create your dataframe(s).

In [3]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
loan_data = pd.read_csv("loan_data.csv")
loan_data.head()

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [5]:
# Checking for missing data.
# There are no missing values in the dataset.
loan_data.isnull().sum()

person_age                        0
person_gender                     0
person_education                  0
person_income                     0
person_emp_exp                    0
person_home_ownership             0
loan_amnt                         0
loan_intent                       0
loan_int_rate                     0
loan_percent_income               0
cb_person_cred_hist_length        0
credit_score                      0
previous_loan_defaults_on_file    0
loan_status                       0
dtype: int64

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [ ]:
# Detecting outliers with the IQR method.
# Reason is my dataset is small, therefore it's the best method to use and fix anomalies/outliers.
# I am focusing on only numerical columns to focus analysis on
# quantitative variables that directly influence
# loan repayment capacity and default risk.

In [9]:
# Create a reusable function to identify outliers based on IQR.
# This allows consistent detection across multiple numerical columns.
def detect_outliers_iqr(column):
    Q1 = column.quantile(0.25)
    Q3 = column.quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    
    return column[(column < lower_bound) | (column > upper_bound)]

In [11]:
# Identify outliers in key numeric variables that directly
# impact repayment capacity and default risk.
person_income_outliers = detect_outliers_iqr(loan_data['person_income'])
credit_score_outliers = detect_outliers_iqr(loan_data['credit_score'])
person_emp_exp_outliers = detect_outliers_iqr(loan_data['person_emp_exp'])
loan_percent_income_outliers = detect_outliers_iqr(loan_data['loan_percent_income'])

len(person_income_outliers), len(credit_score_outliers), len(person_emp_exp_outliers), len(loan_percent_income_outliers)

(2218, 467, 1724, 744)

In [15]:
# Cap outliers in numerical variables that impact repayment capacity
# and default risk to prevent extreme values from affecting the analysis.

loan_data['person_income'] = detect_outliers_iqr(loan_data['person_income'])
loan_data['credit_score'] = detect_outliers_iqr(loan_data['credit_score'])
loan_data['person_emp_exp'] = detect_outliers_iqr(loan_data['person_emp_exp'])
loan_data['loan_percent_income'] = detect_outliers_iqr(loan_data['loan_percent_income'])

In [18]:
# Replace numeric loan status codes with labels
loan_data['loan_status'] = loan_data['loan_status'].replace({
    0: 'DEFAULT',
    1: 'PAID'
})

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [22]:
# Checking for duplicate columns.

loan_data.duplicated().sum()

0

In [24]:
# Checking for all columns
print(loan_data.columns)

Index(['person_income', 'person_emp_exp', 'person_home_ownership', 'loan_amnt',
       'loan_intent', 'loan_int_rate', 'loan_percent_income',
       'cb_person_cred_hist_length', 'credit_score',
       'previous_loan_defaults_on_file', 'loan_status'],
      dtype='object')

In [20]:
#Drop columns person_age, person_gender and person_education.
# Reason to drop these columns is that they are not important or do not help answer our business issue.

import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
loan_data = pd.read_csv("loan_data.csv")
drop_cols = ['person_age', 'person_gender', 'person_education']
loan_data = loan_data.drop(columns=drop_cols)

# Confirming those columns were dropped.
print(loan_data.columns)

# Re-checking data structure after dropping those columns.
loan_data.head()

Index(['person_income', 'person_emp_exp', 'person_home_ownership', 'loan_amnt',
       'loan_intent', 'loan_int_rate', 'loan_percent_income',
       'cb_person_cred_hist_length', 'credit_score',
       'previous_loan_defaults_on_file', 'loan_status'],
      dtype='object')

,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [26]:
# Checking inconsistencies in the categorical columns. 
# To correct inconsistent formatting with extra spaces, labels, and letter casing.

categorical_cols = [
    'person_home_ownership',
    'loan_intent',
    'previous_loan_defaults_on_file',
]

for col in categorical_cols:
    print(f"\nValue counts for {col}:")
    print(loan_data[col].value_counts(dropna=False))


# Standardize inconsistent formatting.
# To standardize by stripping whitespaces and making them all uppercase.

for col in categorical_cols:
    loan_data[col] = (
        loan_data[col]
        .astype(str)
        .str.strip()
        .str.upper()
    )

# Confirm categories are consistent now.

for col in categorical_cols:
    print(f"\nCleaned value counts for {col}:")
    print(loan_data[col].value_counts())

Value counts for person_home_ownership:
person_home_ownership
RENT        23443
MORTGAGE    18489
OWN          2951
OTHER         117
Name: count, dtype: int64

Value counts for loan_intent:
loan_intent
EDUCATION            9153
MEDICAL              8548
VENTURE              7819
PERSONAL             7552
DEBTCONSOLIDATION    7145
HOMEIMPROVEMENT      4783
Name: count, dtype: int64

Value counts for previous_loan_defaults_on_file:
previous_loan_defaults_on_file
Yes    22858
No     22142
Name: count, dtype: int64

Cleaned value counts for person_home_ownership:
person_home_ownership
RENT        23443
MORTGAGE    18489
OWN          2951
OTHER         117
Name: count, dtype: int64

Cleaned value counts for loan_intent:
loan_intent
EDUCATION            9153
MEDICAL              8548
VENTURE              7819
PERSONAL             7552
DEBTCONSOLIDATION    7145
HOMEIMPROVEMENT      4783
Name: count, dtype: int64

Cleaned value counts for previous_loan_defaults_on_file:
previous_loan_defaults_on_file
YES    22858
NO     22142
Name: count, dtype: int64

In [28]:
# Additional steps for clarity, consistency, and standardization.
# Renaming loan_percent_income column to DTI
# Thought process
# DTI is the acronym for Debt-to-Income ratio, which is a common financial/business term

loan_data = loan_data.rename(columns={'loan_percent_income': 'DTI'})
loan_data = loan_data.rename(columns={'person_income': 'Income'})

In [30]:
# Categorize credit score
loan_data['credit_score_category'] = pd.cut(
    loan_data['credit_score'],
    bins=[0, 579, 669, 850],
    labels=['Poor', 'Fair', 'Good'],
    right=True
)

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
   Yes, I was able to find all four types of dirty data in my dataset.
   
2. Did the process of cleaning your data give you new insights into your dataset?
   Standardizing and categorizing the data helped in the readability of the data. Cleaning improved data quality and readiness for analysis.
   
3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
   I have to have consistent formatting and proper labeling for immediate understanding.